<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Pythonic Info</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width">
    <!-- <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'> -->

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <!--link href="/static/css/bootstrap-responsive.css" rel="stylesheet"-->
    <link href="/static/css/design.css" rel="stylesheet">

</head>

<body class="">
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<div class="container" role="main">
    {% include "../template/include/header.html" %}

    <div class="row" id="feeds">
        {% for content in topics %}
        {% raw content %}
        {% end for %}

        {% if not topics %}
        <a href="/">No more</a>
        {% end if %}

        {% if handler.more_id %}
        <a href="/?from={{ handler.more_id }}">More</a>
        {% end if %}
    </div>
</div>

<footer class="footer"></footer>

<script type="text/javascript">
var my_user_id = "{{handler.user_id}}";
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script type="text/javascript" src="/static/js/jquery.timeago.js"></script>

<script type="text/javascript" src="/static/js/coffee-script.js"></script>
<script type="text/coffeescript" src="/static/coffee/feed.coffee"></script>


<script type="text/template" id="feed-status-template">
    <li id="feed-<%= id %>" class="topic">
        <div class="title">
            <a href="<%= url ? url : '/item?id='+id %>" <%= url ? 'target="blank"' : '' %>><%= title %></a>
        </div>
        <div class="info">
            <a href="#" class="unlike <%= like ? '' : 'hide' %>" id="unlike-<%= id %>"><i class="icon icon-thumbs-down"></i></a>
            <a href="#" class="like <%= like ? 'hide' : '' %>" id="like-<%= id %>"><i class="icon icon-thumbs-up"></i></a>
            <a href="#" class="count-unlike <%= like ? '' : 'hide' %>" id="count-unlike-<%= id %>"> <span><%= like_count %></span> {{_('Likes')}}</a>
            <a href="#" class="count-like <%= like ? 'hide' : '' %>" id="count-like-<%= id %>"> <span><%= like_count %></span> {{_('Likes')}}</a>
            by <a href="#" class="username"><%= user["name"] %></a> <abbr class="timeago postTime" title="<%= datetime %>"></abbr>
            <a class="linkSep">|</a> <a class="reply" id="reply-<%= id %>" href="/item?id=<%= id %>">{{_('discuss')}}</a>
        </div>

        <!--ul class="commentReply"></ul-->
    </li>
</script>


</body>
</html>
