<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Pythonic Info</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width">
    <!-- <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'> -->

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/design.css" rel="stylesheet">

</head>

<body class="">
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<div class="container" role="main">
    {% include "../template/include/header.html" %}

    <div class="row" id="feeds">
        <div class="span9">
            <form method="POST">
                <br/>
                <label class="span2">{{_('English URL')}}</label><input name="url_en" class="span5" value="{{ handler.url_en }}" /><br/><br/>
                <label class="span2">{{_('Chinese URL')}}</label><input name="url_cn" class="span5" value="{{ handler.url_cn }}" /><br/><br/>
                <label class="span6">{{_('(One or both, or just fill in Content)')}}</label><br/><br/><br/><br/>
                <label class="span2">{{_('Title')}}</label><input name="title" class="span5" value="{{ handler.title }}" /><br/><br/>
                <label class="span2">{{_('Content')}}<br />({{_('support Markdown')}})</label><textarea name="content" class="span5">{{ handler.content }}</textarea><br/>
                <label class="span2"></label>
                {% if request.path == '/submit' %}
                    <input type="submit" class="btn" value="{{_('Post')}}" />
                {% else %}
                    <input type="submit" class="btn" value="{{_('Update')}}" />
                {% end if %}
            </form>
        </div>
        <div class="span2">
            {{_("Drag and Drop the 'PI submit' button on your browser Bookmarks Bar:")}}
            <a id="toolbar" href="javascript:window.open('http://{{ request.host }}/submit?url='+encodeURIComponent(window.location.href)+'&title='+encodeURIComponent(document.title), 'pythonic_new_' + (new Date).getTime(), 'status=no,resizable=no,scrollbars=yes,personalbar=no,directories=no,location=no,toolbar=no,menubar=no,width=990,height=490,left=0,top=0');void((function(){var e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('src','http://{{ request.host }}/static/tool.js?c='+Math.random()*99999999);document.body.appendChild(e)})());">PI {{_('submit')}}</a>
        </div>

    </div>


</div>

<footer class="footer"></footer>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/coffee-script/1.6.3/coffee-script.min.js"></script>
<script type="text/coffeescript">
$ ->
    $("#open_help").click () -> $("#help_panel").show()
    $("#close_help").click () -> $("#help_panel").hide()
</script>

{% include "../template/include/ga.html" %}

</body>
</html>
