<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pythonic Info Setting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <!--link href="/static/css/bootstrap-responsive.css" rel="stylesheet"-->
    <!--link href="/static/css/scaffolding.css" rel="stylesheet"-->
    <link href="/static/css/design.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


</head>

<body>

<div class="container" role="main">
    {% include "../template/include/header.html" %}
    <div class="row" id="feeds">
        <div class="span6">
            <form method="POST">
                <h1 class="">{{_('Update Your Info')}}</h1>
                <br/>
                <input id="name" name="name" type="text" placeholder="{{_('Name')}}" value="{{ handler.user['name'] }}" />
                <br/>
                <input id="update_button" type="submit" value="{{_('Update')}}" />
            </form>
            <hr/>
            <form method="POST">
                <h1 class="">{{_('Change Password')}}</h1>
                <br/>
                <input id="password0" name="password0" type="password" placeholder="{{_('Old Password')}}" />
                <br />
                <input id="password1" name="password1" type="password" placeholder="{{_('Password')}}" />
                <input id="password2" name="password2" type="password" placeholder="{{_('Password Again')}}" />
                <br/>
                <input id="password_button" type="submit" value="{{_('Change Password')}}" />
            </form>
        </div>
    </div>
</div>


<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

<!--script type="text/javascript" src="/static/js/coffee-script.js"></script>
<script type="text/coffeescript" src="/static/coffee/login.coffee"></script-->

</body>
</html>
