    <div id="feed-{{ id }}" class="comment">
        <div class="info">
            <a href="/login" class="unlike {{ '' if like else 'hide' }}" id="unlike-{{ id }}"><i class="icon icon-thumbs-down"></i></a>
            <a href="/login" class="like {{ 'hide' if like else '' }}" id="like-{{ id }}"><i class="icon icon-thumbs-up"></i></a>
            <a href="/login" class="count-unlike {{ '' if like else 'hide' }}" id="count-unlike-{{ id }}"> <span>{{ like_count }}</span> {{_('Likes')}}</a>
            <a href="/login" class="count-like {{ 'hide' if like else '' }}" id="count-like-{{ id }}"> <span>{{ like_count }}</span> {{_('Likes')}}</a>
            by <a class="username">{{ user.get("name", "") }}</a> <abbr class="timeago postTime" title="{{ datetime }}"></abbr>
        </div>
        <p class="">{% raw content %}</p>
        <div class="info">
            <a href="/comment?id={{ id }}" class="reply" id="reply-{{ id }}">{{_('Reply')}}</a>
        </div>
        {% for comment in comments %}
            {% raw comment %}
        {% end for %}
    </div>
