    <li id="feed-{{ id }}" class="topic">
        <p class="black"><a href="{{ url }}" target="blank">{{ title }}</a></p>
        <div class="gray">
        {% if handler.current_user %}
            <a href="#" class="unlike {{ "" if like else "hide" }}" id="unlike-{{ id }}"><i class="icon icon-thumbs-down"></i></a>
            <a href="#" class="like {{ "hide" if like else "" }}" id="like-{{ id }}"><i class="icon icon-thumbs-up"></i></a>
            <a href="#" class=""> <span id="like-count-{{ id }}">{{ like_count }}</span> Likes</a>
            by <a href="#" class="username">{{ user["name"] }}</a> <abbr class="timeago postTime" title="{{ datetime }}"></abbr>
            <a class="linkSep">|</a> <a class="reply" id="reply-{{ id }}" href="/item?id={{ id }}">discuss</a>
        {% else %}
            <a href="/login" class="unlike {{ "" if like else "hide" }}" id="unlike-{{ id }}"><i class="icon icon-thumbs-down"></i></a>
            <a href="/login" class="like {{ "hide" if like else "" }}" id="like-{{ id }}"><i class="icon icon-thumbs-up"></i></a>
            <a href="/login" class=""> <span id="like-count-{{ id }}">{{ like_count }}</span> Likes</a>
            by <a href="#" class="username">{{ user["name"] }}</a> <abbr class="timeago postTime" title="{{ datetime }}"></abbr>
            <a class="linkSep">|</a> <a class="reply" id="reply-{{ id }}" href="/item?id={{ id }}">discuss</a>
        {% end if %}
        </div>
    </li>
