    <li id="feed-{{ id }}" class="topic">
        <div class="title">
        {% if url %}
            <a href="{{ url }}" target="blank">{{ title }}</a>
        {% else %}
            <a href="/item?id={{ id }}">{{ title }}</a>
            <p class="">{% raw content %}</p>
        {% end if %}
        </div>
        <div class="info">
        {% if handler.current_user %}
            <a href="#" class="unlike {{ '' if like else 'hide' }}" id="unlike-{{ id }}"><i class="icon icon-thumbs-down"></i></a>
            <a href="#" class="like {{ 'hide' if like else '' }}" id="like-{{ id }}"><i class="icon icon-thumbs-up"></i></a>
            <a href="#" class="count-unlike {{ '' if like else 'hide' }}" id="count-unlike-{{ id }}"> <span>{{ like_count }}</span> {{_('Likes')}}</a>
            <a href="#" class="count-like {{ 'hide' if like else '' }}" id="count-like-{{ id }}"> <span>{{ like_count }}</span> {{_('Likes')}}</a>
            by <a class="username">{{ user["name"] }}</a> <abbr class="timeago postTime" title="{{ datetime }}"></abbr>
        {% else %}
            <a href="/login" class="unlike {{ "" if like else "hide" }}" id="unlike-{{ id }}"><i class="icon icon-thumbs-down"></i></a>
            <a href="/login" class="like {{ "hide" if like else "" }}" id="like-{{ id }}"><i class="icon icon-thumbs-up"></i></a>
            <a href="/login" class=""> <span>{{ like_count }}</span> {{_('Likes')}}</a>
            by <a class="username">{{ user["name"] }}</a> <abbr class="timeago postTime" title="{{ datetime }}"></abbr>
        {% end if %}

        </div>

        {% if handler.current_user %}
        <div class="comment">
            <form action="/comment" method="POST">
                <textarea name="content" class="span5"></textarea><br/>
                <input name="id" type="hidden" value="{{ id }}" />
                <input type="submit" value="{{_('Post')}}" />
            </form>
        </div>
        {% end if %}

        {% for comment in comments %}
            {% raw comment %}
        {% end for %}
    </li>
