    <div class="row" id="header">
        <div class="text-left span9" ><a href="/"><b>Pythonic Info</b></a> | <a href="submit">{{_('submit')}}</a></div>
        {% if handler.current_user %}
        <div class="text-right span1" ><a href="/setting">{{_('Setting')}}</a></div>
        <div class="text-right span1" ><a href="/logout">{{_('Logout')}}</a></div>
        {% else %}
        <div class="text-right span1" ></div>
        <div class="text-right span1" ><a href="/login">{{_('Login')}}</a></div>
        {% end if %}
    </div>
