a {
    color: black;
}

a:visited {
    color: gray;
}

#header{
    background-color: #ff6600;
}
#header a:visited {
    color: black;
}

#help_panel {
    text-align:right;
    padding:10px;
    display: none;
}

#feeds{
    background-color: #f6f6ef;
    padding-top: 10px;
    padding-left: 20px;
}

.topic{
}

.topic p{
    margin-left: 10px;
    margin-bottom: 20px;
}
.topic .info{
    color: #ccc;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.comment{
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 10px;
}
.comment p{
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 5px;
}
.comment .info{
    color: #ccc;
    margin-left: 20px;
    margin-bottom: 0px;
}

.title{
    color: black;
    font-size: 14px;
    margin-top: 5px;
}

#toolbar{
    background-color: #ff6600;
}